* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

@font-face {
    font-family: 'Comic Sans Ms';
    src: url('../style/Fonts/ComicSansMS3.ttf');
}

:root{
        --orange: #fcc72c;
        --green: #01544c;
        --gris: #f4f4f1;

    }

    
    body{
        margin-left: 10%;
        margin-right: 10%;
        font-family:'Comic Sans Ms'
    }

    
.header-content {
        width: 100%;
        height: 315px;
        background-image: url(../imag/1imageedit_1_4543562155.jpg);
        background-color: var(--orange); 
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
        font-size: 20px;
        margin-bottom: 3px;
              
    }

    h1 {
        padding-left: 2px;
        margin-left: 5px;
        color: var(--orange);
        text-shadow: 4px 4px var(--green)  ;
              
    }
.boxh2{
        display: inline-block;
        background-color: var(--green);
        width: 100%;
        height: 70px;
        position: relative;
    }

.boxh2 h2{
        padding-top: 15px;
        color: white;
        text-align: center;
    }


.boxh2 .logo {
    width: 120px;
    height: 120px;
    background-color: white;
    border: var(--green) solid;
    display: inline-block;
    position: absolute;
    top: -30%;
    left: 85%;
    box-shadow: var(--green) 7px 7px; 
    object-fit: cover;
    z-index: 3;
    
    }

       

.sidenav {
    height: 600px;
    width: 260px;
    display: inline-block;
    /* margin-right: 1%; */
    background-color: var(--orange);
    z-index: 3;
    position: sticky;
    
 }   


 .sidenav a {
    color: rgba(5, 0, 0, 0.982);
    padding: 20px;
    margin-top: 100px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    
  }

  .sidenav .active {
        color: #f4f4f1;
        background-color: var(--green);
        
    }

 .maincontent {
    height: 600px;
    width: 80%;
    /* margin-top: 5%; */
    font-size: 16;
    margin-left: -260px;
    padding-top: 3%;
    padding-left: 3%;
    display: inline-block;
    background-color: var(--gris);
    position: absolute;
    z-index: 2;
    
 }

 main section {
    margin-top: 5%;
    margin-left: 30%;
    display: inline-block;
    padding-right: 5%;
    text-align: justify;

 }


 footer {
    width: 100%;
    height: 100px;
    background-color: var(--green);
    margin-top: 3px;
    z-index: 5;
    
 }